<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loops, conditionals</title>
</head>

<body>
    <h1>Loops, conditionals (Jinja2)</h1>
    {% for department, os in department_os.items() %}
    {% if os == "Windows" %}
        <p>{{ department }} uses {{ os }}</p>
    {% elif os == "MacOS" %}
        <p>{{ department }} uses {{ os }}</p>
    {% elif os == "Linux" %}
        <p>{{ department }} uses {{ os }}</p>
    {% endif %}
    {% endfor %}
</body>

</html>